.replies {
    border: 2px solid #eaeaea;
    background-color: #F9F9F9;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

.reply-detail {
    color: #A6A6A6;
    font-size: 14px;
    line-height: 1.6;
}

.replies:last-child {
    margin-bottom: 35px;
}

.meta {
    font-size: 13px;
    font-weight: 600;
    padding-top: 5px;
}

#info {
    padding-left: 20px;
}

#vote {
    padding: 10px 20px;
}

#score {
    padding-left: 28px;
}

.count {
    padding-right: 32px;
    padding-top: 0px;
    margin-top: 0px;
}