<template name="myquestions">

    <!-- Insert the questionForm template to enable posting of new question on the questions page -->
    {{> questionForm}}

    <!-- Iterate each questions from the database the questionForm template to enable posting of new question on the questions page -->
    {{#each userQuestions}}
        <!-- Question -->
        <div class="question">
            <div class="row">
                <div class=".col-sm-6 .col-md-5 .col-lg-6" id="info">
                    <h1 class="question-title">{{questionTitle}}</h1>
                    <div class="list-inline">
                        <p class="meta text-muted">Author: {{author}}</p>
                        <p class="meta text-muted">Posted On: {{formatDate createdAt}}</p>
                    </div>
                </div>
            </div>

            <p class="regular question-det">"{{questionDetail}}"</p>

            &emsp;
            <hr>

            <!-- Insert the comments template to enable replies to questions -->

        {{#each comments}}
            {{> comments}}
        {{/each}}
            &emsp;
        </div>
    {{/each}}
    <!-- End Question -->
</template>