<template name="questionForm">
    <!-- Question Form-->
    <div id="questionForm-wrap col-lg-6 col-md-8 col-sm-10 mx-auto">
        <form class="questionPost">
            <h2>Ask a free question</h2>

            <div class="form-group">
                <label for="questionTitle">Question Title</label>
                <input type="text" class="form-control" name="questionTitle" id="questionTitle" placeholder="Question Title">
            </div>

            <div class="form-group">
                <label for="questionDetail">Detail:</label>
                <textarea class="form-control" rows="5" id="questionDetail" name="questionDetail" placeholder="Question detail"></textarea>
            </div>
            &emsp;
            <button class="ui button blue fluid" type="submit">Post Question</button>
        </form>
        &emsp;
    </div>
    <!-- End Question Form-->
</template>