<template name="questions">

    <!-- Insert the questionForm template to enable posting of new question on the questions page -->
    {{> questionForm}}

    <!-- Iterate each questions from the database the questionForm template to enable posting of new question on the questions page -->
    {{#each questions}}
        <!-- Question -->
        <div class="question">
            <div class="row">
                <div class=".col-sm-6 .col-md-5 .col-lg-6" id="info">
                    <h1 class="question-title">{{questionTitle}}</h1>
                    <div class="list-inline">
                    <p class="meta text-muted">Author: {{author}}</p>
                    <p class="meta text-muted">Posted On: {{formatDate createdAt}}</p>
                    </div>
                </div>
            </div>

            <p class="regular question-det">"{{questionDetail}}"</p>

            &emsp;

            <hr>
            {{> commentForm}}
            <!-- Insert the comments template to enable replies to questions -->
            &emsp;
            <hr>
            &emsp;
            <!-- Iterate through the replies -->
        {{#each replies}}
        <div class="replies card">
            <div class="row">
                <div class=".col-sm-6 .col-md-5 .col-lg-6" id="info">
                   <div class="float-right">
                       <div class="ui buttons">
                           <button class="ui button small">Add to Care Team</button>
                           <div class="or"></div>
                           <button class="ui positive button small">Book Appointment</button>
                       </div>
                   </div>

                    <div class="list-inline">
                        <p class="meta text-muted">Author: {{userType}} {{replier}}</p>
                        <p class="meta text-muted">Reply Date: {{formatDate createdAt}}</p>
                    </div>
                </div>
            </div>
            <p class="regular reply-detail">"{{reply}}"</p>
            <hr>
            <div class="row">
                <div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0" id="vote">
                    <p class="text-muted small">Was this reply helpful?</p> &emsp;
                    <i class="thumbs up outline icon" id="thumbsDown"> {{downvote}}</i>
                    <i class="thumbs down outline icon" id="thumbsDown"> {{upvote}}</i>
                </div>
            </div>
        </div>
         {{/each}}
        </div>    <!-- End Replies -->

    {{/each}}
    <!-- End Question -->
</template>